etc/docker/mysql/data/*
!etc/docker/mysql/my.cnf
!etc/docker/mysql/sql/
.idea
.php_cs.cache
.vscode
version.properties
/var/
/framework/bootstrap/cache
/framework/storage

###> laravel ###
/node_modules
/storage/*.key
/storage/framework
/vendor
.env
.env.backup
.env.test
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
###< laravel ###
